In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('ex1data1.txt',names = ['population','profit'])
data.head()

   population   profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [11]:
data.insert(0,'ones',1)

In [13]:
X = data.iloc[:,0:-1]
y = data.iloc[:,-1]
X = np.array(X)
y = np.array(y)

In [15]:
def normalEquation(X,y):
    return np.linalg.inv(X.T @ X)@X.T@y
theta = normalEquation(X,y)

In [16]:
print(theta)

[-3.89578088  1.19303364]